
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    max-height: 100vh;
    overflow: hidden;
}

body {
    font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-overlay {
    padding: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .7);
    font-size: 0;

    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: opacity .3s ease-in-out,
        transform .3s ease-in-out,
        padding .3s ease-in-out;
}

.photo-overlay.visible {
    opacity: 1;
    transform: none;
    pointer-events: all;
}

.photo-overlay.with-definition {
    padding-bottom: calc(20px + 50vh);
}

.photo {
    position: relative;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.photo canvas {
    max-width: 90vw;
    max-height: 90vh;
    margin: 0 auto;
    border-radius: 5px;
    transition: .3s ease-in-out height;
}

.photo-overlay.with-definition .photo canvas {
    max-height: 40vh;
}

.loader {
    position: absolute;
    margin: 10px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    background-image: url(loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    border-radius: 5px;
}

.loader.hidden {
    opacity: 0;
}

.definition-panel {
    position: absolute;
    bottom: 0;
    
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    
    background-color: rgba(255, 255, 255, .9);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -3px 15px rgba(0, 0, 0, .3);
    font-size: 1rem;
    opacity: 0;
    transform: translateY(10px);
    
    -webkit-backdrop-filter: blur(5px);
    
    transition: .3s ease-in-out transform,
        .3s ease-in-out opacity;
}

.definition-panel.visible {
    opacity: 1;
    transform: none;
}

.definition-panel main {
    padding: 15px;
}

.definition-panel header {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    border-bottom: 1px solid rgba(51, 51, 51, .08);
    overflow: auto;
}

.button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, .22);
    color: #fff;
    font-size: 20px;
    border-radius: 80%;
    border: 0;
    padding: 0;
}

.button-close:active {
    background-color: rgba(0, 0, 0, .3);
}

.definition-title {
    flex: 1;
    font-weight: 800;
    font-size: 24px;
}

.definition-content {
    flex: 1;
    overflow-y: auto;
    height: 0; /* To make scroll work in flexbox */
}

#toc, .mw-editsection {
    display: none;
}

.definition-content > footer {
    font-style: italic;
    color: #777;
}
